h1 {color: rgba(199, 46, 3, 1);font-family: arial, sans-serif;padding: 20px; border-width: medium; border-color: black; border-style: solid;align-content: center}
body {font-family: helvetica, sans-serif; padding: 10px}
a {color: red;}
